@font-face {
  font-family: "Fjalla One";
  font-style: normal;
  font-weight:400;
  src:url('../assets/fonts/Fjalla_One/FjallaOne-Regular.ttf');
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  src:url('../assets/fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: "Noto Sans Bold";
  font-style: normal;
  src:url('../assets/fonts/Noto_Sans/NotoSans-Bold.ttf');
} 
