/* Header */

.App-header {
  background: linear-gradient(rgba(0, 0, 0, .7), transparent), url('../assets/images/ball-banner.jpg') no-repeat;
  background-position: center;
  height: 30vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2rem;
  font-family: "Fjalla One";
  display: inline-block;
  padding: 7px;
}

.content {
  position:relative;
  padding: 50px 0 1px;
  font-family: "Noto Sans";
  text-align: center;
}

.content__header {
  margin-bottom: 45px;
}

.App-nav {
  float: right;
  position: relative;
  font-family: "Noto Sans";

  &__list {
    position: relative;
    bottom: 5px;
    left: 20px;

    &__item {
      display: inline-block;
      margin-right: 25px;
      vertical-align: middle;
      position:relative;

      &__link {
        color: #fff;
      }

      &__profile {
        background-image: url('../assets/images/profile.jpeg');
        width: 50px;
        height: 50px;
        display: inline-block;
        background-size: 50px 50px;
        border-radius: 50%;
      }

      &__sublist {
        display: none;
        position: absolute;
        bottom: -120px;
        background-color: #fff;
        right: 0;
        border-radius: 5px;

        &__item {
          text-align: center;
          background-color: rgba(255, 255, 255, 1);
          transition: background-color .35s;

          &:hover {
            background-color: rgba(0, 0, 0, .12);
          }

          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }

          &__link {
            color: black;
            display: block;
            padding: 10px;
            width: 100px;

          }
        }
      }
    }
  }
}
