.slide-enter {

  transform: translateX(-100%);
  opacity: 0;

  &-active {

    transform: translateX(0);
    opacity: 1;
    transition: transform .5s, opacity .5s ease-out;

  }
}

.slide-leave {

  transform: translateX(0);
  opacity: 1;

  &-active {

    transform: translateX(100%);
    opacity: 0;
    transition: transform .5s, opacity .5s ease-in;

  }
}

.slide-appear {
  transform: translateX(-100%);
  opacity: 0;

  &-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform .5s, opacity .5s ease-out;
  }
}
