.calendar-container {
  @media (max-width: 768px) and (min-width: 425px) {
    margin: 0 30px 50px;
  }

  @media (max-width: 425px) {
    margin: 0 30px 50px;
  }
}

.rbc-toolbar {
  @media (max-width: 768px) {
    display: block
  }
}

.rbc-btn-group,
.rbc-toolbar-label {
  margin-bottom: 10px;
}

.rbc-toolbar-label {
  display: block;
}
